@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heroButton{
    @apply px-6 py-1 text-rose-800 uppercase text-xs tracking-widest transition-all hover:text-fuchsia-800
  }
  .contactInput{
    @apply outline-none bg-[rgb(24,24,24)] rounded-sm px-6 py-4 text-rose-800 text-opacity-80 placeholder-rose-800 transition-all border-b border-[rgb(24,24,24)] focus:border-rose-800 hover:border-gray-700 focus:text-rose-700
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
